*{
	/*border: 1px solid red;*/
}

.header{
	margin: 35px 0;
	color: #86A2A0;
	text-align: center;
}

#tweetsContainer{

}

.tweet{
	padding: 10px;
}

.tweetBody{
	height: 150px;
	background-color: #F6F9F9;
	color: #6C958D;
	padding: 10px;
	padding-top: 20px;
	position: relative;
	border-bottom: 2px solid #6C958D;
	border-right: 2px solid #6C958D;
	margin-bottom: 50px;
}

.tweetBody:after, .tweetBody:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tweetBody:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #F6F9F9;
	border-width: 30px;
	border-left-width: 49;
    border-right-width: 49;
	margin-left: -145px;
}
.tweetBody:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #6C958D;
	border-width: 32px;
	border-left-width: 54;
    border-right-width: 54;
	margin-left: -150px;
}

.twitterIcon{
	height: 20px;
	width: 20px;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 10px;
}

.tweetAuthor{
	color: #B4B2B2;
	padding: 0px;
}

.tweetAuthor > div > div:first-child{
	margin-top: 0.3em;
	font-size: 1.5em;
	font-weight: bold;
}

.authorImage{
	border-radius: 50%;
	width: 60px;
}

.authorImage:hover{
	-webkit-filter: brightness(50%);
	-moz-filter: brightness(50%);
	-o-filter: brightness(50%);
	-ms-filter: brightness(50%);
}

